<header class="header">
  <div class="header__content">
    <nav class="header__menu header__menu-top">
      <nav class="menu__body">
        <ul class="header__menu-items">
          <li>
            <a href="">Переваги</a>
          </li>
          <li><a href="">Тариф</a></li>
          <li><a href="">Послуги</a></li>
          <li><a href="">Сонячна станція</a></li>
          <li><a href="">Умови</a></li>
          <li><a href="">Кейси</a></li>
          <li><a href="">Відгуки</a></li>
          <li><a href="">Контакти</a></li>
        </ul>
      </nav>
    </nav>
    <nav class="header__menu header__menu-bottom">
      <div class="header__search header__search--mobile">
        <div class="header__search-wrapper">
          <input class="header__search-input" type="text" placeholder="Пошук" />
        </div>
      </div>
      <nav class="menu__body">
        <ul class="header__menu-items">
          <li>
            <a href="">Обрати подарунок</a>
          </li>
          <li><a href="">теми принтів</a></li>
          <li>
            <a href="./catalog.html">0 одяг під друк</a>
            <ul class="sub__menu">
              <li>
                <a href="">1 теми принтів</a>
                <ul class="sub__menu">
                  <li>
                    <a href="">1.1 теми принтів</a>
                  </li>
                  <li>
                    <a href="">1.2 теми принтів</a>
                    <ul class="sub__menu">
                      <li>
                        <a href="2.1">2.1 теми принтів</a>
                      </li>
                      <li>
                        <a href="">2.2теми принтів</a>
                      </li>
                      <li>
                        <a href="">2.3теми принтів</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="">1.3 теми принтів</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="">2 теми принтів</a>
              </li>
              <li>
                <a href="">3 теми принтів</a>
              </li>
            </ul>
          </li>
          <li><a href="">сувеніри під друк</a></li>
          <li><a href="">послуги друку</a></li>
          <li><a href="">Конструктор</a></li>
          <li><a href="">співпраця</a></li>
          <li><a href="">розпродаж</a></li>
        </ul>
      </nav>
    </nav>
  </div>
</header>
