<header class="header">
  <div class="header__top">
    <div class="container">
      <a href="#" class="header__logo">
        <img src="./src/images/Suntegra_logo.png" alt="Suntegra logo" />
      </a>
      <button class="header__burger"><span></span></button>

      <a href="tel:+38 063 543 24 24"> +38 063 543 24 24 </a>
    </div>
  </div>
  <div class="header__content">
    <div class="container">
      <nav class="header__menu header__menu-top">
        <nav class="menu__body">
          <ul class="header__menu-items">
            <li>
              <a href="">Переваги</a>
            </li>
            <li><a href="">Тариф</a></li>
            <li><a href="">Послуги</a></li>
            <li><a href="">Сонячна станція</a></li>
            <li><a href="">Умови</a></li>
            <li><a href="">Кейси</a></li>
            <li><a href="">Відгуки</a></li>
            <li><a href="">Контакти</a></li>
          </ul>
        </nav>
      </nav>
    </div>
  </div>
</header>
